section{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  margin: 50px;
  background-color: lightgreen;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  
}

.dFlex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  width: 100%;
  height: 40px;
  font-size: 18px;
}

button{
  margin-top: 10px;
  background-color: lightcyan;
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  width: 100%;

}

.btnRed{
  background-color: red;
  color: white;
}

.btnRed:hover{
  background-color: salmon;
  color: black;
}

.btnGreen{
  background-color: green;
  color: white;
}

.btnGreen:hover{
  background-color: darkgreen;
  color: black;
}

.m-10{
  margin: 10px;
}