body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dFlex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btnRed{
  background-color: red;
  color: white;
}

.btnRed:hover{
  background-color: salmon;
  color: black;
}

.btnGreen{
  background-color: green;
  color: white;
}

.btnGreen:hover{
  background-color: darkgreen;
  color: black;
}